= form_for @comunicado do |f|
  - if @comunicado.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comunicado.errors.count, "error")} prohibited this comunicado from being saved:"
      %ul
        - @comunicado.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :titulo
    = f.text_field :titulo
  .field
    = f.label :mensaje
    = f.text_area :mensaje
  .field
    = f.label :mensaje_markdown
    = f.text_area :mensaje_markdown
  .field
    = f.label :archivo
    = f.file_field :archivo
  .field
    = f.label :prioridad
    = f.check_box :prioridad
  .actions
    = f.submit 'Save'
