%p#notice= notice

%p
  %b Titulo:
  = @comunicado.titulo
%p
  %b Mensaje:
  = @comunicado.mensaje
%p
  %b Mensaje markdown:
  = @comunicado.mensaje_markdown
%p
  %b Archivo:
  = @comunicado.archivo.path
%p
  %b Prioridad:
  = @comunicado.prioridad
%p
  %b User:
  = @comunicado.user

= link_to 'Back', comunicados_path
