!!!5
%html{lang: "es"}
	%head
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{charset:"UTF-8"}
		%meta{content:"Plantel Azteca, Gliphy, GliphyHub, gliphy", name: "keywords"}
		%meta{content:"GliplyHub, aquí podrás acceder a tus tareas y pendientes.", name: "description"}
		%meta{charset:"UTF-8"}
		%meta{content:"TeamDevs", name: "author"}
		%meta{content:"TeamDevs", name: "owner"}
		%meta{content:"index/follow", name: "robots"}
		%meta{name: "theme-color", content: "#2E5EC6"}
		-#%title= "Gliphy#{@tipoUser.capitalize}"
		%title GliphyHub
		= favicon_link_tag 'favicon.ico'
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		%link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")/
		%link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")/
		%script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
		%script{src:"http://jnicol.github.io/particleground/js/jquery.particleground.js"}
		%script{src:"https://code.jquery.com/jquery-3.3.1.min.js"}

		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body
	- flash.each do |_key, msg|
		%script M.toast({html: '#{msg}'})
	=yield
